.header {
  height: var(--heightHeader);
  padding: 0 var(--containerPadding);
  background-color: var(--colorBrand);
  color: rgba(255, 255, 255, 0.5);
}

.headerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.homepage-link {
  color: var(--colorWhite);
  font-size: 1.5rem;
  font-weight: 600;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
